extends layout

block content
  div.container

    div(class="page-header text-center")

      h1
        span(class="fa fa-anchor")
        |
        | Profile Page
      a(href="/logout", class="btn btn-default") Logout

    div.row

      // Local information
      div(class="col-sm-6")
        div.well
          h3
            span(class="fa fa-user")
            |
            | Local

          if user.email
            p
              strong id
              | : #{user.id}
              br
              strong email
              | : #{user.email}
              br
              span(class="wrap-block")
                strong hash
                | : #{user.password}

            a(href="/unlink/local", class="btn btn-default") Unlink
          else
            a(href="/connect/local", class="btn btn-default") Connect Local

      // Facebook information
      div(class="col-sm-6")
        div.well
          h3(class="text-primary")
            span(class="fa fa-facebook")
            |
            | Facebook

          // check if the user has this token (is the user authenticated with this social account)
          if user.facebook
            p
              strong id
              | : #{user.facebook.id}
              br
              span(class="wrap-block")
                strong token
                | : #{user.facebook.token}
              br
              strong email
              | : #{user.facebook.email}
              br
              strong name
              | : #{user.facebook.name}

            a(href="/unlink/facebook", class="btn btn-primary") Unlink
          else
            a(href="/connect/facebook", class="btn btn-primary") Connect Facebook

    div.row

      // Twitter information
      div(class="col-sm-6")
        div.well
          h3(class="text-info")
            span(class="fa fa-twitter")
            |
            | Twitter

          if user.twitter
            p
              strong id
              | : #{user.twitter_id}
              br
              strong token
              | : #{user.twitter_token}
              br
              strong display name
              | : #{user.twitter_displayName}
              br
              strong username
              | : #{user.twitter_username}

            a(href="/unlink/twitter", class="btn btn-info") Unlink
          else
            a(href="/connect/twitter", class="btn btn-info") Connect Twitter

      // Google information
      div(class="col-sm-6")
        div.well
          h3(class="text-danger")
            span(class="fa fa-google-plus")
            |
            | Google+

          if user.google
            p
              strong id
              | : #{user.google.id}
              br
              span(class="wrap-block")
                strong token
                | : #{user.google.token}
              br
              strong email
              | : #{user.google.email}
              br
              strong name
              | : #{user.google.name}

            a(href="/unlink/google", class="btn btn-danger") Unlink
          else
            a(href="/link/google", class="btn btn-danger") Connect Google
